<div class="h3">Бесплатная поддержка</div>
<div class="h4">
Осуществляется только в рамках темы поддержки модуля на 
<a target="_blank" href="https://opencartforum.com/files/file/7109-admin-notifications-uvedomleniya-administratora-telegram-viber/">OpenCartForum.com</a>, 
<a target="_blank" href="http://forum.opencart-russia.ru/threads/admin-notifications-uvedomlenija-administratora-telegram-viber.8186/">OpenCart-Russia.ru</a>, 
<a target="_blank" href="https://liveopencart.ru/opencart-moduli-shablony/moduli/mail-sms/admin-notifications-uvedomleniya-administratora-telegram-viber">LiveOpenCart.ru</a> и 
<a target="_blank" href="https://prodelo.biz/moduli-opencart/pisma-pochta-sms/admin-notifications-uvedomleniya-administratora-telegram-viber">ProDelo.biz</a>
<div class="page-header">
<b style="color: red;">В бесплатную поддержку НЕ входит:</b><br>
<li class="page-header">Подключение к сайту</li>
<li class="page-header">Доработка под другие модули, темы</li>
<li class="page-header">Установка / Настройка модуля</li>
</div>
<div class="alert alert-success"><i class="fa fa-info-circle"></i> Возможно уже существует доработка под вашу тему/модуль в теме поддержки модуля на 
<a target="_blank" href="https://gixoc.ru/gixocnotifications/">Нашем сайте - GixOC.ru</a>,
<a target="_blank" href="https://opencartforum.com/files/file/7109-admin-notifications-uvedomleniya-administratora-telegram-viber/">OpenCartForum.com</a>, 
<a target="_blank" href="http://forum.opencart-russia.ru/threads/admin-notifications-uvedomlenija-administratora-telegram-viber.8186/">OpenCart-Russia.ru</a>, 
<a target="_blank" href="https://liveopencart.ru/opencart-moduli-shablony/moduli/mail-sms/admin-notifications-uvedomleniya-administratora-telegram-viber">LiveOpenCart.ru</a>, 
<a target="_blank" href="https://prodelo.biz/moduli-opencart/pisma-pochta-sms/admin-notifications-uvedomleniya-administratora-telegram-viber">ProDelo.biz</a>, 
в Telegram Bot - <a target="_blank" href="tg://resolve?domain=GixOC_NotificationsBot">@GixOC_NotificationsBot</a>
или в Viber Bot - <a target="_blank" href="viber://pa/info?uri=GixOC_NotificationsBot">@GixOC_NotificationsBot</a></div>
</div>
<div class="h3">Платная поддержка</div>
<div class="h4">
<div class="page-header">
<b>Вы можете заказать платную поддержку:</b><br>
<li class="page-header">На <a target="_blank" href="https://gixoc.ru/gixocnotifications/">нашем сайте - GixOC.ru</a>, выбрав соответствующую Дополнительную услугу при скачивании модуля</li>
<li class="page-header">На <a target="_blank" href="https://opencartforum.com/files/file/7109-admin-notifications-uvedomleniya-administratora-telegram-viber/">OpenCartForum.com</a>, выбрав соответствующую Дополнительную услугу при скачивании модуля</li>
<li class="page-header">На <a target="_blank" href="https://liveopencart.ru/opencart-moduli-shablony/moduli/mail-sms/admin-notifications-uvedomleniya-administratora-telegram-viber">LiveOpenCart.ru</a>, выбрав соответствующую Дополнительную услугу при скачивании модуля</li> 
<li class="page-header">На <a target="_blank" href="https://prodelo.biz/moduli-opencart/pisma-pochta-sms/admin-notifications-uvedomleniya-administratora-telegram-viber">ProDelo.biz</a>, выбрав соответствующую Дополнительную услугу при скачивании модуля</li>
<li class="page-header">В Telegram Bot - <a target="_blank" href="tg://resolve?domain=gixoc_notificationsbot">@GixOC_NotificationsBot</a></li>
<li class="page-header">В Viber Bot - <a target="_blank" href="viber://pa/info?uri=gixoc_notificationsbot">@GixOC_NotificationsBot</a></li>
<li class="page-header">С помощью сервиса Yandex Денег по ссылкам ниже.</li>
<form method="post" target="_blank" action="https://money.yandex.ru/quickpay/confirm.xml">
<input type="hidden" name="receiver" value="410016328220054">
<input type="hidden" name="quickpay-form" value="donate">
<input type="hidden" name="paymentType" value="AC">
<input type="hidden" name="formcomment" value="Модуль GixOCNotifications">
<input type="hidden" name="short-dest" value="Модуль GixOCNotifications">
<input type="hidden" name="label" value="{{ email }}">
<input type="hidden" name="comment" value="{{ email }}">
<input type="hidden" name="need-email" value="true"> 
<input type="hidden" name="targets" value="Адаптация">
<input type="hidden" name="sum" value="500.00" data-type="number">
<button type="submit" class="btn btn-warning">Адаптация под другую версию OpenCart - 500 руб.</button>
</form><br>
<form method="post" target="_blank" action="https://money.yandex.ru/quickpay/confirm.xml">
<input type="hidden" name="receiver" value="410016328220054">
<input type="hidden" name="quickpay-form" value="donate">
<input type="hidden" name="paymentType" value="AC">
<input type="hidden" name="formcomment" value="Модуль GixOCNotifications">
<input type="hidden" name="short-dest" value="Модуль GixOCNotifications">
<input type="hidden" name="label" value="{{ email }}">
<input type="hidden" name="comment" value="{{ email }}">
<input type="hidden" name="need-email" value="true"> 
<input type="hidden" name="targets" value="Доработка">
<input type="hidden" name="sum" value="500.00" data-type="number">
<button type="submit" class="btn btn-primary">Доработка под другие модули, темы - 500 руб/модуль</button>
</form><br>
<form method="post" target="_blank" action="https://money.yandex.ru/quickpay/confirm.xml">
<input type="hidden" name="receiver" value="410016328220054">
<input type="hidden" name="quickpay-form" value="donate">
<input type="hidden" name="paymentType" value="AC">
<input type="hidden" name="formcomment" value="Модуль GixOCNotifications">
<input type="hidden" name="short-dest" value="Модуль GixOCNotifications">
<input type="hidden" name="label" value="{{ email }}">
<input type="hidden" name="comment" value="{{ email }}">
<input type="hidden" name="need-email" value="true"> 
<input type="hidden" name="targets" value="Установка">
<input type="hidden" name="sum" value="300.00" data-type="number">
<button type="submit" class="btn btn-success">Установка / Настройка модуля - 300 руб.</button>
</form>
</div>
<div class="alert alert-danger"><i class="fa fa-info-circle"></i> Внимание! Доработка и адаптация осуществляется по следующему принципу: оплачивается разово, потом становится доступно всем бесплатно. Если желаете индивидуальную доработку/адаптацию - цена увеличивается до 5000 руб/модуль</div>
</div>
{% if help_thanks %} {{ help_thanks }} {% endif %}